<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gemastik.dentistsmile">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DentistSmile">
        <activity
            android:name="com.gemastik.dentistsmile.ui.medical_checkup.history_checkup.HistoryCheckupActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.dmft.DmftActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.reminder.ReminderActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.medical_checkup.dentist_checkup.DentistCheckupActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.medical_checkup.physical_checkup.PhysicalCheckupActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.review.detail.AddReviewActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.review.detail.ReviewDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.review.ReviewActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.maps.MapsActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.doctor.detail.DoctorDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.doctor.DoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.article.detail.ArticleDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.article.ArticleActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.get_started.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.test_yolo.TestYolo"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gemastik.dentistsmile.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
    </application>

</manifest>