<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gemastik.dentistsmile">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <uses-feature android:name="android.hardware.camera.any" />
    <application
        android:name=".root.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DentistSmile"
        android:usesCleartextTraffic="true"
        >


        <activity
            android:name=".ui.livedentist.DetectActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.livedentist.MakeOverlayActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.gemastik.dentistsmile.ui.capture_camera.CaptureCameraActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.medical_checkup.history_checkup.ear.HistoryEarActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.medical_checkup.history_checkup.eye.HistoryEyeActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.medical_checkup.history_checkup.physic.HistoryPhysicActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.register.profile.AddProfileDataV2Activity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.register.profile.ProfileSecondActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.register.profile.ProfileFirstActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.medical_checkup.history_checkup.HistoryCheckupActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.dmft.DmftActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.reminder.ReminderActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.medical_checkup.dentist_checkup.DentistCheckupActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.medical_checkup.physical_checkup.PhysicalCheckupActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.review.detail.AddReviewActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.review.detail.ReviewDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.review.ReviewActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.maps.MapsActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.doctor.detail.DoctorDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.doctor.DoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.article.detail.ArticleDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.article.ArticleActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.get_started.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.test_yolo.TestYolo"
            android:exported="false" />
        <activity
            android:name="com.gemastik.dentistsmile.ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gemastik.dentistsmile.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>